<h3> <%= image_tag(spotify_service.profile_image) %> <%= current_user.name %></h3>
<h5> <%= spotify_service.total_followers %> Followers </h5>
<h5> <%= spotify_service.total_artists_followed %> Artists Followed </h5>
<br>
<%= link_to "Create a Playlist", new_playlist_path, class: "btn-large cyan accent-2 black-text" %>
