<div class="row">
  <div class="col s5">
    <div class="center card trans-card white-text">
      <%= image_tag spotify_service.profile_image, class: "circle profile_img" %>
      <h4 class="white-text"><%= current_user.name %></h4>
      <iframe src="https://embed.spotify.com/?uri=spotify:track:0F0MA0ns8oXwGw66B2BSXm" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
      <h5><%= spotify_service.total_followers %> Followers</h5>
      <h5><%= spotify_service.total_artists_followed %> Artists Followed</h5>
      <br>
      <%= link_to "Generate a Playlist", new_playlist_path, class: "btn-large cyan accent-2 black-text" %>
      <br></br>
      <%= link_to "Your Playlists", playlists_path, class: "btn-large cyan accent-2 black-text" %>
    </div>
  </div>

  <div class="col s7">
    <ul class="collection">
      <li class="collection-item trans-card white-text">
        <div class="row">
          <div class="center">
            <h5>On Sale Soon In Your Hood</h5>
          </div>
        </div>
      </li>
    <% @events.each do |event| %>
      <li class="collection-item avatar trans-card white-text">
        <div class="row">
          <div class="col s7">
            <span class="title">
              <%= event[:artists].first[:name] %>
            </span>
            <p><%= event[:venue][:name] %><br>
              <%= event[:venue][:city] %>, <%= event[:venue][:region] %><br>
              <%= event[:datetime].to_time.strftime("%l:%M%P %A %b %d, %Y") %>
            </p>
          </div>
          <div class="col s1">
            <%= link_to "Tickets", event[:ticket_url], class: "btn cyan accent-2 black-text secondary-content" %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  </div>
</div>
